.rec-footer
{
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: -16px;
}

.rec-textarea
{
	width: 99%;
	border-radius: 4px;
}

.rec-textarea-label
{
	font-size: 0.75rem;
	padding-top: 4px;
	padding-right: 8px;
	margin-bottom: 2px;
}