.cad-tnailcard {width:100px ; height:80px ; border-radius:5px; box-shadow:rgb(57 100 255) 0px 0px 3px; display:flex; justify-content:center; align-items:center;}
.cad-tnailcardinner {margin-left:30px; margin-right:30px; width:30px; height:30px; border:5px solid #f3f3f3; border-top:5px solid orange; border-radius:50%; animation:spin 2s linear infinite; background:transparent;}
.cad-tnailcard2 { position:relative; width:100px; height:80px; border-radius:5px;box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 3px; background: #f9f9f9;}
.cad-tnailcard2 .closericon{ position: absolute; right:-10px; top:-10px; opacity:0; transition:all .3s; } 
.cad-tnailcard2:hover .closericon{ position: absolute; right:5px; top:1px; opacity:1; } 
.cad-tnailcard2inner { height:36px; display:flex; justify-content:center; align-items:center}

.temp_question_border-bottom {border-bottom: 1px solid #f3f3f3;}
.temp_question_border-bottom:last-child {border-bottom: 0px solid #f3f3f3;}
.no-wordbreak {text-align:right; padding-right:5px;}
.temp_dashed-border-top {border-top: 1px dashed #f3f3f3;}