:root {	
	/* var(--green-200) */
		--aprimary:rgb(107, 56, 136);
		--aprimaryh:rgb(86, 45, 109);
		--bsecondary:rgb(239, 104, 55);
		--bsecondaryh:rgb(206, 81, 36);

	/* ScrollBar */
		--sb-sc:rgba(0,0,0,0.4) rgba(0,0,0,0.05);
		--sb-track:rgba(0,0,0,0.08);
		--sb-thumb:rgba(0,0,0,0.05);
		--sb-thumbbdr:rgba(0,0,0,0.1);	
	
	/* Font-Family */
		--ff-1:Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif ;		
	/* Font-Sizes */
		--fs-0:0px;
		--fs-10:10px;
		--fs-11:11px;
		--fs-12:12px;
		--fs-13:13px;
		--fs-14:14px;
		--fs-16:16px;
		--fs-18:18px;
		--fs-20:20px;
		--fs-23:23px;
		--fs-24:24px;
		--fs-38:38px;
		
	/* Font-weights */
		--fw-i:inherit;
		--fw-n:normal;
		--fw-300:300;
		--fw-400:400;
		--fw-500:500;
		--fw-600:600;
		--fw-700:700;
	
	/* Background-Page & Base Section */
		--bg-page-html:rgb(245, 247, 250);
		--bg-page-body:rgba(245, 247, 250, 0.9);
		--bg-section-rtmvpc:rgba(245, 247, 250, 0.9);
		
	/* Buttons */
		/* Links */
		--link-primary-n:rgb(107, 56, 136);
		--link-primary-h:rgb(86, 45, 109);
		--iconlink-primary-n:rgb(107, 56, 136);
		--iconlink-primary-h:rgb(86, 45, 109);
		/* White */
		--dbtn-bg:rgb(255, 255, 255);
		--dbtn-bgh:rgb(243, 243, 243);
		--dbtn-bdr:rgb(201, 201, 201);
		--dbtn-bdrh:rgb(201, 201, 201);
		--dbtn-ico:rgb(107, 56, 136);
		--dbtn-icoh:rgb(86, 45, 109);
		--dbtn-txt:rgb(116, 116, 116);
		--dbtn-txth:rgb(98, 98, 98);
		--link-primary-n:rgb(107, 56, 136)!important;
		--link-primary-h:rgb(86, 45, 109)!important;
		--lwc-brandTextLink:rgb(107, 56, 136)!important;
		--lwc-brandTextLinkActive:rgb(86, 45, 109)!important;
		--slds-c-button-text-color:rgb(107, 56, 136)!important;
		--slds-c-button-text-color-hover:rgb(86, 45, 109)!important;
		--slds-c-tabs-item-color-border-hover:rgb(107, 56, 136)!important;
		--slds-c-tabs-item-color-border-active:rgb(86, 45, 109)!important;
		--lwc-brandAccessible:#562d6d!important;
		--lwc-brandAccessibleActive:#3b194f!important;
		/* Purple */
		--pbtn-bg:rgb(107, 56, 136); /* rgba(107,56,136,1); */
		--pbtn-bgh:rgb(86, 45, 109); /* rgba(86,45,109,1); */
		--pbtn-bdr:rgb(86, 45, 109);
		--pbtn-bdrh:rgb(76, 38, 98);
		--pbtn-ico:rgba(255,255,255,0.8);
		--pbtn-icoh:rgba(255,255,255,0.9);
		--pbtn-txt:rgba(255,255,255,0.8);
		--pbtn-txth:rgba(255,255,255,0.9);
		
		--path-txt:rgb(107, 56, 136);
		
		/* Orange */
		--sbtn-bg:rgb(239, 104, 55);
		--sbtn-bgh:rgb(206, 81, 36);
		--sbtn-bdr:rgb(199, 78, 35);
		--sbtn-bdrh:rgb(209, 74, 25); 
		--sbtn-ico:rgba(255,255,255,0.8);
		--sbtn-icoh:rgba(255,255,255,0.9);
		--sbtn-txt:rgba(255,255,255,0.8);
		--sbtn-txth:rgba(255,255,255,0.9);
		
	/* General Colors*/
		--bg-primary-color1:rgba(255,255,255,0.9);
		--bg-primary-color2:rgba(255,255,255,0.4);
		--txt-primary-color1:rgba(255,255,255,0.9);
		--bdr-headerandfooter:rgba(0,0,0,0.15);
		--bg-headerandfooter:rgba(107, 56, 136,0.1);
		--bg-secheader: rgba(107, 56, 136,0.2);
		
	/* CustomDataGrid */	
		--cdg-txt-colorbg:rgba(0,0,0,.9);	
		--cdg-bgnotstarted-colorbg:#cccccc;
		--cdg-bginprogress-colorbg:#ffebb3;
		--cdg-bgcompleted-colorbg:#d1f7c4;
		--cdg-bgdeferred-colorbg:#ffbdc7;
		--cdg-bgwaitingonsomeoneelse-colorbg:#b6ddeb;
		--cdg-bgdraft-colorbg:#eeeeee;	
		--cdg-bgproject1-colorbg:#ffcfa4;
		--cdg-bgproject2-colorbg:#ffd8cf;
		--cdg-bgproject3-colorbg:#fddaf3;
		--cdg-bgproject4-colorbg:#e0d2ff;
		--cdg-bgproject5-colorbg:#e4e8f1;
	
		--cdg-bghrow-color:rgba(107,56,136, 0.1);
		--cdg-bghrow-colorfreez:rgba(227,217,232,1);
	
		--cdg-bgrowodd-color:rgba(245,245,245,0.8);
		--cdg-bgrowevn-color:rgba(255,255,255,0.8);
	
		--cdg-bdrcell-color:rgba(235,235,235,0.8);
		--cdg-bdrouter-color:rgba(0,0,0,0.12);	
		
		--cibcadcdg-bdr-color:rgba(0,0,0,0.2);
		--cibcadcdg-bdr-color1:rgba(0,0,0,0.05);
		--cibcadcdg-bgh-color:rgba(107, 56, 136,0.12);
		--cibcadcdg-bdrh-color:rgba(239,104,55,1);
		
		
	/* CustomInBox & Custom Assessment Design */
		--cibcad-bg: ;
		--cibcad-bdr: ;
		--cibcad-bghlt: ;
		--cibcad-bdrhlt: ;
		--cibcad-txt: ;
		--cibcad-txthlt: ;
		--cibcad-hlt: ;	
		.cad-cardbase {position:relative; width:100%; height:calc(100vh - 180px)!important; border-radius:0px; overflow:hidden;}
		.cad-titlebutton_more .slds-button--icon-more, .cad-titlebutton_more .slds-button_icon-more { background-color:transparent!important; border-color:transparent!important; margin-top: -4px; }

            
		--box-shadow:0 5px 15px 0 rgba(0,0,0,.07), 0 15px 35px 0 rgba(49,105,193,.1);
        .slds-tabs_card {padding-top:5px!important; min-height: calc(100vh - 180px); }
		.slds-tabs_card .slds-tabs_default__nav { height:33px; }
        .slds-tabs_card .slds-tabs_default__link, .slds-tabs_card .slds-tabs--default__link { height: 2rem!important; line-height: 1.8rem; }
        
	   /*  var(--bg-section-rtmvpc)  */ 
	}
	
	

	html { scroll-behavior:smooth; background:#f5edf5!important;}
	.slds-text-heading_large, .slds-text-heading--large {font-size:unset!important;}
	
	* { scrollbar-width:thin; scrollbar-color:var(--sb-sc); }
	*::-webkit-scrollbar { width:8px; height:8px; z-index:97; line-height:0; }
	*::-webkit-scrollbar-track { background:var(--sb-track); z-index:98; font-size:var(--fs-0); line-height:0; border-radius:5px; }
	*::-webkit-scrollbar-thumb { background:var(--sb-thumb); border-radius:5px; border:1px solid var(--sb-thumbbdr); z-index:99; font-size:var(--fs-0); line-height:0; height:8px; }
	
    .rtmvpc { width:calc(100vw - 0px); height:calc(100vh - 0px);  overflow-x:hidden; overflow-y:auto; }
	section.layoutContent .rtmvpc { width:calc(100vw - 0px); height:calc(100vh - 85px); background:var(--bg-section-rtmvpc); overflow-x:hidden; overflow-y:auto; margin:-11px; }
	a, a:visited { color:var(--link-primary-n); }
	a:hover, a:active, a:focus { color:var(--link-primary-h); }
	.slds-button--brand, .slds-button_brand, .comm-login-form__login-button { background:var(--pbtn-bg)!important; border-color:var(--pbtn-bdr)!important; }
	.slds-button--brand:active, .slds-button_brand:active, .slds-button--brand:focus, .slds-button_brand:focus, .slds-button--brand:hover, .slds-button_brand:hover, .slds-button--brand:visited, .slds-button_brand:visited,
	.comm-login-form__login-button:active, .comm-login-form__login-button:active, .comm-login-form__login-button:focus, .comm-login-form__login-button:focus, .comm-login-form__login-button:hover, .comm-login-form__login-button:hover, .comm-login-form__login-button:visited, .comm-login-form__login-button:visited 
	{ background:var(--pbtn-bgh)!important; border-color:var(--pbtn-bdrh)!important; }
	
	.slds-button--neutral, .slds-button_neutral { background:var(--dbtn-bg); border:1px solid var(--dbtn-bdr); }
	.slds-button--neutral:active, .slds-button_neutral:active, .slds-button--neutral:focus, .slds-button_neutral:focus, .slds-button--neutral:hover, .slds-button_neutral:hover, .slds-button--neutral:visited, .slds-button_neutral:visited { background:var(--dbtn-bgh); border:1px solid var(--dbtn-bdrh); }
	.slds-button--neutral:disabled, .slds-button--neutral[disabled], .slds-button_neutral:disabled, .slds-button_neutral[disabled] { background:var(--dbtn-bgh); }
	
	.slds-button--icon-border, .slds-button--icon-border-filled, .slds-button_icon-border, .slds-button_icon-border-filled { color:var(--dbtn-ico); background:/*var(--dbtn-bg)*/transparent; border:1px solid var(--dbtn-bdr); }
	.slds-button--icon-border:hover, .slds-button--icon-border-filled:hover, .slds-button_icon-border:hover, .slds-button_icon-border-filled:hover { color:var(--dbtn-icoh); background:/*var(--dbtn-bgh)*/transparent; border:1px solid var(--dbtn-bdrh); }
	.slds-button--icon-border .slds-button__icon, .slds-button--icon-border-filled .slds-button__icon, .slds-button_icon-border .slds-button__icon, .slds-button_icon-border-filled .slds-button__icon{ fill:var(--dbtn-ico); }
	.slds-button--icon-border:hover .slds-button__icon, .slds-button--icon-border-filled:hover .slds-button__icon, .slds-button_icon-border:hover .slds-button__icon, .slds-button_icon-border-filled:hover .slds-button__icon { fill:var(--dbtn-icoh); }

	.slds-button--icon-more, .slds-button_icon-more { color:var(--dbtn-ico); }
	.slds-button--icon-more:active, .slds-button_icon-more:active, .slds-button--icon-more:focus,
	.slds-button_icon-more:focus, .slds-button--icon-more:hover, .slds-button_icon-more:hover,
	.slds-button--icon-more:visited, .slds-button_icon-more:visited { color:var(--dbtn-icoh); background:var(--dbtn-bgh); border:1px solid var(--dbtn-bdrh); }
	.slds-button--icon-more:active .slds-button__icon, .slds-button_icon-more:active .slds-button__icon,
	.slds-button--icon-more:focus .slds-button__icon, .slds-button_icon-more:focus .slds-button__icon, 
	.slds-button--icon-more:hover .slds-button__icon, .slds-button_icon-more:hover .slds-button__icon, 
	.slds-button--icon-more:visited .slds-button__icon, .slds-button_icon-more:visited .slds-button__icon { color:var(--dbtn-icoh); }
	.slds-button--icon-more:focus .slds-button__icon, .slds-button--icon-more:hover .slds-button__icon, .slds-button_icon-more:focus .slds-button__icon, .slds-button_icon-more:hover .slds-button__icon { fill:var(--dbtn-icoh); }
	
	.slds-icon-standard-budget { background:var(--sbtn-bg); }
	.slds-brand-band, .slds-brand-band:before, .slds-brand-band:after { background-image:none; background:#F5EDF5; }
                                
	.slds-utility-bar li.slds-utility-bar__item:first-child {display:none;}
	.utility-bar--right .utilitybar { height:18px; }
	.utility-bar--right .utilitybar:after { content:'(C) 2023 Rhythm Innovations. All Rights Reserved.'; position:absolute; right: 15px; bottom:1px; font-size:12px; }
	.slds-utility-bar__item { height:18px; }
	.cad-cardbase.slds-p-around_small { padding:0px; }
	.slds-accordion__list-item {border-top:0px none; }
    .slds-accordion__summary-heading, .slds-accordion__summary-heading .slds-button { font-size:14px;text-transform: uppercase; }
    .slds-accordion__summary-heading .slds-button:focus { text-decoration:none; }
	.slds-form-element__control .slds-radio, .slds-form-element__control .slds-checkbox { display:block; }
	.changeRecordTypeRightColumn .slds-form-element__control .slds-radio, .changeRecordTypeRightColumn .slds-form-element__control .slds-checkbox { display:block!important; }
	.column.region-main {width:75%!important; max-width:100%;}
	.column.region-sidebar-right {width:25%!important; max-width:25%;}
	.column.region-sidebar-right article.slds-card {background:#e6eef6; }
	.dx-customfix .fix_button-group-flexbox { width:100%; }
	.dx-customfix {
	--slds-g-color-border-base-4:#c9c9c9!important;
	}
	.cdg lightning-tree-grid lightning-primitive-cell-factory[data-label="Section Name"] lightning-primitive-treegrid-cell-toggle, .cdg lightning-tree-grid lightning-primitive-cell-factory[data-label="Section Name"] lightning-base-formatted-text{display:table-cell;}
	.dx-duallisthide lightning-dual-listbox .slds-dueling-list .slds-dueling-list__column:nth-child(3),
	.dx-duallisthide lightning-dual-listbox .slds-dueling-list .slds-dueling-list__column:nth-child(4) { display:none; }
	.cdg lightning-datatable { min-width:650px; }
	.cdg .slds-scrollable_x { overflow-x:none; }
	.cdg th[aria-label="Section Name"], .cdg th[data-label="Section Name"], .cdg th[aria-label="Section"], .cdg th[data-label="Section"] {min-width:170px!important;}
	.lwcAppFlexipage app_flexipage-header { display:none !important;}

	@media screen and (max-width:992px) {
	.cad-cardbase { height:50vh;}
	.slds-tabs_card { min-height:60vh; }
	}