		
	.rtmvpc { width:calc(100vw - 0px); height:calc(100vh - 0px); background:var(--bg-section-rtmvpc); overflow-x:hidden; overflow-y:auto; }
	section.layoutContent .rtmvpc { width:calc(100vw - 0px); height:calc(100vh - 85px); background:var(--bg-section-rtmvpc); overflow-x:hidden; overflow-y:auto; margin:-11px; }
	
	.slds-icon-standard-budget { background:var(--sbtn-bg); }
	
	.rtmvpc .slds-accordion__list-item { margin-bottom:3px; }
	.slds-table--header-fixed_container, .slds-table_header-fixed_container { background:var(--bg-primary-color1); }
																																																																			
	.rtmvpc-card.slds-m-around_medium .slds-p-around_medium {padding-left:0px;padding-right:0px;}
	
	.rtmvpc .slds-accordion__list-item { margin-bottom:3px; }
	
	.rtmvpc .slds-accordion__summary-heading .slds-button:focus {text-decoration:none;}
	.slds-accordion__summary-action { padding:0.5rem; }
	.slds-accordion__summary { margin:0px; }
	.slds-accordion__summary { background:rgb(218,227,235); border-radius:3px; overflow:hidden; }
	.rtmvpc .slds-accordion__summary-content { font-size:var(--fs-14); font-weight:var(--fw-600);text-transform:uppercase; }
	.slds-accordion__summary-contentrht span{ color:#181818; }
	.slds-accordion__section { padding:0px; }
	.slds-accordion__content .flowruntimeBody__lwc { padding-left:0; padding-right:0; }
	.slds-accordion__content .slds-card__body {margin-top:0px;}
	.slds-accordion__content { background:rgb(255,255,255); border:1px solid rgb(218,227,235); border-radius:3px; overflow:hidden; }
	.rtmvpc .slds-accordion .slds-accordion__content lightning-input{ padding-left:0rem;}
	
	.slds-section-title--divider { padding:0rem 0rem; background:rgb(255,255,255); border-radius:3px; margin-top:5px; }
	
	.rtmvpc .slds-form-element__control span.slds-radio {display:inline-block; padding-right:1rem;}
	.rtmvpc .field-element .container { padding-left:0rem; padding-bottom:0rem;}
	.rtmvpc .slds-form-element fieldset { padding-left:0rem; padding-bottom:0rem;}
	.rtmvpc .slds-form-element__label {font-size:var(--fs-12); text-transform:uppercase; }
	.rtmvpc .slds-form-element__static {font-size:var(--fs-14); font-weight:var(--fw-600); }
	.slds-section-title--divider, .slds-section-title_divider { text-transform:unset; }
	
	.status-notstarted, .status-inprogress, .status-completed, .status-deferred, .status-waitingonsomeoneelse,
	.colorcode-project1, .colorcode-project2, .colorcode-project3, .colorcode-project4, .colorcode-project5 { border-radius:4px; padding:3px 6px; }
	.status-notstarted { background:var(--cdg-bgnotstarted-colorbg); color:var(--cdg-txt-colorbg); }
	.status-inprogress { background:var(--cdg-bginprogress-colorbg); color:var(--cdg-txt-colorbg); }
	.status-completed { background:var(--cdg-bgcompleted-colorbg); color:var(--cdg-txt-colorbg); }
	.status-deferred { background:var(--cdg-bgdeferred-colorbg); color:var(--cdg-txt-colorbg); }
	.status-waitingonsomeoneelse { background:var(--cdg-bgwaitingonsomeoneelse-colorbg); color:var(--cdg-txt-colorbg); }
	.status-draft { background:var(--cdg-bgdraft-colorbg); color:var(--cdg-txt-colorbg); }
	
	.colorcode-project1 { background:var(--cdg-bgproject1-colorbg); color:var(--cdg-txt-colorbg); }
	.colorcode-project2 { background:var(--cdg-bgproject2-colorbg); color:var(--cdg-txt-colorbg); }
	.colorcode-project3 { background:var(--cdg-bgproject3-colorbg); color:var(--cdg-txt-colorbg); }
	.colorcode-project4 { background:var(--cdg-bgproject4-colorbg); color:var(--cdg-txt-colorbg); }
	.colorcode-project5 { background:var(--cdg-bgproject5-colorbg); color:var(--cdg-txt-colorbg); }
	
	.fs24 { font-size:var(--fs-24); }
	button.cig_actions, button.cad_actions { background:transparent; font-size:var(--fs-18); word-break:keep-all; border:0px solid transparent; color:var(--iconlink-primary-n); }
	button.cig_actions:hover, button.cad_actions:hover { background:transparent; font-size:var(--fs-18); word-break:keep-all; border:0px solid transparent; color:var(--iconlink-primary-h); }
	
	.cib-tasklist .cib-statusicons .cib-flag .slds-button__icon {fill:#e32a34;}
	.cib-flag .slds-button__icon, .cib-flag .slds-icon-text-default {fill:#e32a34;}
				
	.slds-path__nav .slds-is-complete, .slds-path__nav .slds-is-complete::after, .slds-path__nav .slds-is-complete::before {background:var(--sbtn-bg);}
	.slds-path__nav .slds-is-complete:hover, .slds-path__nav .slds-is-complete:hover::after, .slds-path__nav .slds-is-complete:hover::before {background:var(--sbtn-bgh);}
	.slds-path__nav .slds-is-current, .slds-path__nav .slds-is-active:first-child:after, .slds-path__nav .slds-is-active:first-child:before { background:var(--pbtn-bg);text-decoration:none; }
	.slds-path__nav .slds-is-current:hover { background:var(--pbtn-bgh); }
	.slds-path__nav .slds-is-current::after, .slds-path__nav .slds-is-current::before { font-weight:var(--fw-600); color:var(--path-txt);text-decoration:none; }
	.slds-path__nav .slds-is-current:hover::after, .slds-path__nav .slds-is-current:hover::before { font-weight:var(--fw-600); color:var(--pbtn-bgh); }
	.slds-path__nav .slds-is-active, .slds-path__nav .slds-is-active::after, .slds-path__nav .slds-is-active::before { background:var(--pbtn-bg); text-decoration:none; }
	.slds-path__nav .slds-is-active:hover,.slds-path__nav .slds-is-active:hover::after, .slds-path__nav .slds-is-active:hover::before  { background:var(--pbtn-bgh); }
	.slds-path__nav .slds-is-current:after, .slds-path__nav .slds-is-current:before {    
		background-image:-webkit-gradient(linear,left top,right top,from(var(--pbtn-bg)),color-stop(.125rem,var(--pbtn-bg)),color-stop(.125rem,transparent)),-webkit-gradient(linear,left top,right top,from(var(--pbtn-bg)),color-stop(.125rem,var(--pbtn-bg)),color-stop(.125rem,transparent)),-webkit-gradient(linear,left top,left bottom,from(var(--pbtn-bg)),color-stop(.125rem,var(--pbtn-bg)),color-stop(.125rem,transparent));
		background-image:linear-gradient(90deg,var(--pbtn-bg),var(--pbtn-bg) 0.125rem,transparent 0.125rem),linear-gradient(90deg,var(--pbtn-bg),var(--pbtn-bg) 0.125rem,transparent 0.125rem),linear-gradient(var(--pbtn-bg),var(--pbtn-bg) 0.125rem,transparent 0.125rem);
		background-repeat:no-repeat;
		background-size:0.125rem 100%,0.125rem 100%,100% 0.125rem;
	}
	.slds-path__nav .slds-is-complete .slds-path__stage, .slds-path__nav .slds-is-active .slds-path__stage {display:none;}
	.slds-path__title, .slds-path__stage {-webkit-backface-visibility:visible;  backface-visibility:visible;}
	.slds-is-current .slds-path__title, .slds-is-current .slds-path__stage { }
	.slds-path__nav .slds-is-complete .slds-path__title { transform:rotateX(0deg); }
	.slds-path__nav .slds-path__stage lightning-primitive-icon {display:none;}
	
	.slds-path__nav .slds-is-current:first-child { border-color:var(--pbtn-bg); }
	.slds-path__nav .slds-is-current:first-child:after, .slds-path__nav .slds-is-current:first-child:before {
	background-image:linear-gradient(90deg,var(--pbtn-bg),var(--pbtn-bg) 0.125rem,transparent 0.125rem),linear-gradient(90deg,var(--pbtn-bg),var(--pbtn-bg) 0.125rem,transparent 0.125rem),linear-gradient(var(--pbtn-bg),var(--pbtn-bg) 0.125rem,transparent 0.125rem);}
	.slds-path__nav .slds-is-current:first-child .slds-path__link { color:var(--txt-primary-color1);}
	.slds-path__nav .slds-is-current:first-child:hover {border-color:var(--pbtn-bgh);}
	.slds-path__nav .slds-is-current:first-child:hover:before, .slds-path__nav .slds-is-current:first-child:hover:after {
		background-image:linear-gradient(90deg, var(--pbtn-bgh), var(--pbtn-bgh) 0.125rem, transparent 0.125rem); }
	.slds-path__nav .slds-is-current:first-child:hover:before, .slds-path__nav .slds-is-current:first-child:hover:after {background:var(--pbtn-bgh);}
	.slds-path__nav .slds-is-current:first-child:before, .slds-path__nav .slds-is-current:first-child:after { background:var(--pbtn-bg);}
	